.formWrapper {
    position: relative;
}

.cvvGroup {
    width: 100px;
    position: relative;
}

.creditCard {
    border: solid dimgrey 2px;
    border-radius: 10px;
    width: 428px;
    height: 270px;
    padding: 10px;
    text-align: left;
}

.creditCardFrontSide {
    background: lightgrey;
    position: relative;
    z-index: 10;
    margin-bottom: 30px;
    /*padding-top: 50px;*/
}

.creditCardBackSide {
    background: darkgray;
    position: absolute;
    z-index: 9;
    left: 120px;
    top: 20px;
    padding-top: 100px;
}

.numberInput {
    padding: .25rem 1rem;
    margin-right: .25rem;
}

.error {
    margin-top: 0.4rem;
    font-size: 0.75em;
    color: #dc3545;
}

.errorPosition {
    position: absolute;
    bottom: -1.2rem;
    left: 1rem;
}

.logo {
    width: 100%;
}